body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 30px;
}

h1 {
    margin-bottom:32px;
    font-style: italic;
    font-size: 40px;
}

h2 {
    margin-top: -25px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: pink;
    font-style: italic;
}

.gridboxes {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 350px);
    gap: 100px;
}

.griditem {
    background-color: burlywood;
    border: 2px solid #ff0000;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: bold;

    border-radius: 20px;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.griditem:hover {
    transform: translateY(-8px);

    box-shadow: 0 10px 20px rgba(0,0,0,0.3);

    cursor: pointer;
}

.bimage1 {
background-image:
        linear-gradient(rgba(255, 0, 98, 0.4),
                        rgba(0,0,0,0.4)),
        url("tictactoe.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
    

}


.bimage2 {
background-image:
        linear-gradient(rgba(92, 10, 67, 0.4),
                        rgba(0,0,0,0.4)),
        url("tunes.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
    text-align: center;
}

.bimage3 {
background-image:
        linear-gradient(rgba(0,0,0,0.4),
                        rgba(0,0,0,0.4)),
        url("comingsoon.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
}

.bimage4 {
background-image:
        linear-gradient(rgba(0, 0, 0, 0.4),
                        rgba(0,0,0,0.4)),
        url("comingsoon.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
}

.bimage5 {
background-image:
        linear-gradient(rgba(0,0,0,0.4),
                        rgba(0,0,0,0.4)),
        url("comingsoon.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
}

.bimage6 {
background-image:
        linear-gradient(rgba(0,0,0,0.4),
                        rgba(0,0,0,0.4)),
        url("comingsoon.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
}

.bimage7 {
background-image:
        linear-gradient(rgba(0,0,0,0.4),
                        rgba(0,0,0,0.4)),
        url("comingsoon.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
}

.bimage8 {
background-image:
        linear-gradient(rgba(0,0,0,0.4),
                        rgba(0,0,0,0.4)),
        url("comingsoon.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
}

.bimage9 {
background-image:
        linear-gradient(rgba(0,0,0,0.4),
                        rgba(0,0,0,0.4)),
        url("comingsoon.jpeg");    background-size: cover;
    background-position: center;

    color: white;
    position: relative;
}

